/*Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
  box-sizing: border-box;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  background: #000;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto 60px;
}
/*NAVIGATION*/
nav {
  background: #fff;
  height: 100%;
  font-weight: bold;
  line-height: 80px;
  text-align: center;
}
nav a {
  color: #FAA02E;
  display: inline-block;
  letter-spacing: 1px;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all ease .25s;
}
nav a:hover {
  background: #FAA02E;
  color: #fff;
}

/*HERO*/
header {
  background: url('../img/header-background8.jpg') no-repeat center;
  background-size: cover;
  height: 700px;
  text-align: center;
  position: relative;
}
.hero-content {
  position: absolute;
  top: 70%;
  left: 30%;
  transform: translate(-50%, -50%);
}
header h1 {
  color: #fff;
  font-size: 50px;
  margin: 0;
}
header h1 span {
  border-bottom: 3px solid #FAA02E;
}
header a {
  background: rgba(250, 160, 46, 0.9); /*250,160,46   255, 192, 203, 0.9*/
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  line-height: 42px;
  margin: 20px auto 0;
  padding: 0 30px;
  text-decoration: none;
  transition: background ease .25s;
}
header a:hover {
  background: #FAA02E;
}
section {
  background: #ddd; /*FAA02E ddd*/
  overflow: auto;
  padding: 40px 0;
  text-align: center;
}
section h2 {
  font-size: 32px;
  margin: 0 auto 60px;
}
section div {
  float: left;
  padding: 0 15px;
  width: 33.3%;
}
section .fa {
  background: #2F2526;
  border-radius: 50%;
  color: #fff;
  font-size: 72px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
  /*Dimensions*/
  line-height: 125px;
  width: 125px;
}
section .fa.fa-refresh {
  background: #584F4A;
}
section .fa.fa-globe {
  background: #FAA02E; /*FAA02E 1abc9c*/
}
section div h3 {
  margin: 20px auto 5px;
}
section div p {
  margin: 0;
}

/*FOOTER*/
footer {
  background: #fff;
  line-height: 60px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}
