* {
  box-sizing: border-box;
}
body {
  background: #1A2980; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #1A2980 , #26D0CE); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #1A2980 , #26D0CE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.rubrik {
  color: #f1f1f1;
  padding-top: 40px;
  text-align: center;
  font-size: 40px;
  text-shadow: 1.5px 1.5px #000000;
}
table {
    background-color: #ecf0f1;
    margin: 0 auto;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 632px;
    border-spacing: 0;
    font-size: 20px;
    overflow: hidden;
    border-radius: 15px;
}
td, th {
  text-align: left;
  padding: 7px 13px 7px 13px;
  border-bottom: 0.2px solid #ccc;
}
th {
  background: #34495e;
  color: #ecf0f1;
  padding: 15px;
}
